.form {
  padding-bottom: 10px;
  border-bottom: 0.5px solid grey;
  display: flex;
  justify-content: space-between;
}

.svg {
  width: 20px;
  color: grey;
  cursor: pointer;
}

.svg:hover {
  color: white;
}

.form-btn {
  color: grey;
  background: none;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.form-btn:hover {
  color: white;
}
