.right-container {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  max-height: 60%;
  padding-bottom: 0px;
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: black;
}

.right-container::-webkit-scrollbar {
  display: none;
}
