.weather {
  display: flex;
  flex: 1;
}

.weather-left {
  flex: 0.6;
  border-right: 0.5px solid black;
  height: 700px;
  position: relative;
  /* background: url("https://pixabay.com/get/gdd7132c219da0f69d807bbbf8e6b9ebc6e16113892ec75f0b91583bed4d0c3e9359c0edc358ba3ac8f1cba42c21d3003_1280.jpg");
  background-size: auto;
  background-repeat: no-repeat;*/
  background: url("https://pixabay.com/get/g5f6e2f8d8d50a01e2e9eb0f8dad2dda1abca05c72cd4cd7de934d4871d87164d5cdf3b6bc03b8e7fe25769a8542bc51cada03197ff94f2d4c7c7227949bc5167_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-right {
  flex: 0.4;
}
