.weather {
  display: flex;
  flex: 1;
}

.weather-left {
  flex: 0.6;
  border-right: 0.5px solid black;
  height: 700px;
  position: relative;
  /* background: url("https://pixabay.com/get/gdd7132c219da0f69d807bbbf8e6b9ebc6e16113892ec75f0b91583bed4d0c3e9359c0edc358ba3ac8f1cba42c21d3003_1280.jpg");
  background-size: auto;
  background-repeat: no-repeat;*/
  background: url("../../../assets/clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-right {
  flex: 0.4;
}
