<div class="right-days"  *ngIf="main" >
    <h4>Next Days</h4>
    <app-right-details-element  desc="Feels Like" [main]="main.feels_like"></app-right-details-element>
    <app-right-details-element  desc="Feels Like" [main]="main.feels_like"></app-right-details-element>
    <app-right-details-element   desc="Feels Like" [main]="main.feels_like"></app-right-details-element>
    <app-right-details-element  desc="Feels Like" [main]="main.feels_like"></app-right-details-element>
    <app-right-details-element  desc="Feels Like" [main]="main.feels_like"></app-right-details-element>
    <app-right-details-element  desc="Feels Like" [main]="main.feels_like"></app-right-details-element>
    <app-right-details-element  desc="Feels Like" [main]="main.feels_like"></app-right-details-element>
</div>
