<div *ngIf="main" class="right-details">
    <h4>Weather Details</h4>
    <app-right-details-element  desc="Feels Like" [main]="feelsLike" unit = "&#176;" ></app-right-details-element>
    <app-right-details-element  desc="Max Temperature" [main]="tempMax" unit = "&#176;"></app-right-details-element>
    <app-right-details-element   desc="Min Temperature" [main]="tempMin" unit = "&#176;"></app-right-details-element>
    <app-right-details-element   desc="Humidity" [main]="main.humidity" unit = "%"></app-right-details-element>
    <app-right-details-element   desc="Pressure" [main]="main.pressure" unit = "PS"></app-right-details-element>
</div>
