/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.container {
  max-width: 1400px;
  margin: 30px auto;
  overflow: hidden;
  max-height: 700px;
  border: 1px solid black;
  border-radius: 5px;
}

body {
  font-family: "Poppins", sans-serif;
}

.form-control input {
  width: 90%;
  border-style: none;
}

.form-control input:focus {
  outline: none;
}
