/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.container {
  max-width: 1400px;
  margin: auto;
  margin-top: 140px;
  overflow: hidden;
  max-height: 700px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}
p {
  color: #bebebe;
}

body {
  font-family: "Poppins", sans-serif;
}

.form-control input {
  font-family: "Poppins", sans-serif;
  width: 90%;
  border-style: none;
  background: none;
}

.form-control input:focus {
  outline: none;
}
